{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Admin {% endblock title %}
{% block header %} Admin {% endblock header %}

{% block contents %}

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="item-1-1-tab" data-toggle="tab" role="tab" aria-controls="item-1-1" aria-selected="true" href="#item-1-1">Pending Commission</a></li>
                            <li class="nav-item"><a class="nav-link" id="item-1-2-tab" data-toggle="tab" role="tab" aria-controls="item-1-2" aria-selected="false" href="#item-1-2">Current Sales Reps</a></li>
                            <li class="nav-item"><a class="nav-link" id="item-1-3-tab" data-toggle="tab" role="tab" aria-controls="item-1-3" aria-selected="false" href="#item-1-3">Current Products</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div id="nav-tabContent" class="tab-content">
                            <div id="item-1-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="item-1-1-tab">
                                <div class="table-responsive">
                                    <h4>Comission Numbers</h4>
                                    <table class="table table-sm">
                                        <tbody>
                                            <tr>
                                                <th style="width: 60%;">Sales Representative</th>
                                                <th>Total Sales</th>
                                                <th>%</th>
                                                <th>Commission</th>
                                                <th>Approve</th>
                                            </tr>
                                            <tr>
                                                <td>Sales man name</td>
                                                <td>$$$$</td>
                                                <td>%</td>
                                                <td>$$$$</td>
                                                <td><input type="checkbox"></td>
                                            </tr>
                                            <tr></tr>
                                            <tr></tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="text-center" colspan="5"><button class="btn btn-primary" type="button" style="width: 50%;background-color: rgb(3,133,9);">Approve Selected</button></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div id="item-1-2" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-2-tab">
                                <h4>Current Sales Reps</h4>
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <th style="width: 60%;">Sales Representative</th>
                                            <th>Total Sales to Date</th>
                                            <th>%</th>
                                            <th>Commission to Date</th>

                                        </tr>
                                        <tr>
                                            <td>Sales man name</td>
                                            <td>$$$$</td>
                                            <td>%</td>
                                            <td>$$$$</td>
                                        </tr>
                                        <tr></tr>
                                        <tr></tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-center" colspan="5"><button class="btn btn-primary" type="button" style="width: 50%;background-color: rgb(3,133,9);">Add New Sales Rep</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                </div>
                            <div
                                id="item-1-3" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-3-tab">
                                <h4>Products</h4>
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <th style="width: 60%;">Product Name</th>
                                            <th># of Sold</th>
                                            <th>Price</th>
                                            <th>Top Customer</th>

                                        </tr>
                                        <tr>
                                            <td>poduct</td>
                                            <td>999</td>
                                            <td>$9.95</td>
                                            <td>CBD Internation Co.</td>
                                        </tr>
                                        <tr></tr>
                                        <tr></tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-center" colspan="5">
                                                <button class="btn btn-primary" id="new-product" style="width: 45%;background-color: rgb(3,133,9);">Add New Product</button>
                                                <button class="btn btn-primary" id="upload-csv" type="button" style="width: 45%;background-color: rgb(208,183,22);">Upload Product CSV</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="modalProductForm" value="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
          <h3>What Product would you like to add?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="comments" name="comments">
          <input type="hidden" id="pk" name="pk">
          {% csrf_token %}
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label>Product Name</label>
          <input type="text" id="comment" name="comment"></input>
        </div>

        <div class="md-form mb-4">
          <label>Price</label>
          <input type="text" id="new-brother" name="new-brother"></input>
        </div>
        <div class="md-form mb-4">
          <label>Image</label>
          <i class="fa fa-upload"></i>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default modal-submit">Submit</button>
      </div>
      </form>
      </div>
  </div>
</div>

<div class="modal fade" id="modalCSVForm" value="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
          <h3>Please Choose a File to Upload</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="comments" name="csv">
          <input type="hidden" id="pk" name="pk">
          {% csrf_token %}
        <div class="md-form mb-4">
          <label>Upload a file</label>
          <i class="fa fa-upload"></i>
        </div>

      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default modal-submit">Submit</button>
      </div>
      </form>
  </div>
      </div>
  </div>
</div>


    {% endblock contents %}

{% block js %}
<script>
    $('#new-product').on("click", function() {
        $('#modalProductForm').modal('toggle');
    })
    $('#upload-csv').on("click", function() {
        $('#modalCSVForm').modal('toggle');
    })
</script>
{% endblock js %}
