{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Thanks {% endblock title %}
{% block header %} Thank you! {% endblock header %}

{% block contents %}

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr class="text-center">
                                <th colspan="5">Commission Numbers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="width: 60%;">Sales Representative</th>
                                <th>Total Sales</th>
                                <th>%</th>
                                <th>Commission</th>
                                <th>Approve</th>
                            </tr>
                            <tr>
                                <td>Sales man name</td>
                                <td>$$$$</td>
                                <td>%</td>
                                <td>$$$$</td>
                                <td><input type="checkbox"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="5"><button class="btn btn-primary" type="button" style="width: 50%;background-color: rgb(3,133,9);">Approve Selected</button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


    {% endblock contents %}

{% block js %}
{% endblock js %}
