{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Check out {% endblock title %}
{% block header %} Check out {% endblock header %}

{% block contents %}

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th colspan="3">Invoice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 60%;">Item</td>
                                <td>Quantity</td>
                                <td>Total Price</td>
                            </tr>
                            <tr>
                                <td>Item #1&nbsp;</td>
                                <td>0</td>
                                <td>$$$$</td>
                            </tr>
                            <tr class="border-dark">
                                <td class="text-right" colspan="2">Sub Total</td>
                                <td>$$$$</td>
                            </tr>
                            <tr>
                                <td class="text-right"colspan="2">Tax</td>
                                <td>$$$$</td>
                            </tr>
                            <tr>
                                <td class="text-right" colspan="2">Shipping</td>
                                <td>$$$$</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-right" colspan="2">Total Cost</td>
                                <td colspan="1">FInal $</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><a class="btn btn-primary" href="{% url 'website:customer_info' %}" type="button" style="width: 100%;margin-top: 10px;background-color: rgb(3,133,9);">Send Invoice</a></div>
        </div>
    </div>
</div>


    {% endblock contents %}

{% block js %}
{% endblock js %}
