{% extends 'website/base.html' %}

{% load staticfiles %}
{% block title %}{{ block.super }} | Check out {% endblock title %}
{% block header %} Check out {% endblock header %}

{% block contents %}

<div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Pay Now</h1>
            </div>
        </div>
    </div>
</div>
<div></div>
<div></div>
<div>
    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-12" style="margin-bottom: 25px;"><button class="btn btn-primary" type="button" style="width: 45%;background-color: rgb(7,132,7);">Pay with bank</button><button class="btn btn-primary" type="button" style="width: 45%;margin-left: 5%;background-color: rgb(208,183,22);">Pay with card</button></div>
        </div>
    </div>
</div>
<div class="row .payment-dialog-row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card credit-card-box">
            <div class="card-header" style="margin-top: 25px;">
                <h3><span class="panel-title-text">Payment Details </span><img class="img-fluid panel-title-image" src="{% static 'website/images/accepted_cards.png' %}"></h3>
            </div>
            <div class="card-body">
                <form id="payment-form">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group"><label for="cardNumber">Card number </label>
                                <div class="input-group"><input class="form-control" type="tel" id="cardNumber" required="" placeholder="Valid Card Number">
                                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-7">
                            <div class="form-group"><label for="cardExpiry"><span>expiration </span><span>EXP </span> date</label><input class="form-control" type="tel" id="cardExpiry" required="" placeholder="MM / YY"></div>
                        </div>
                        <div class="col-5 pull-right">
                            <div class="form-group"><label for="cardCVC">cv code</label><input class="form-control" type="tel" id="cardCVC" required="" placeholder="CVC"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group"><label for="couponCode">coupon code</label><input class="form-control" type="text" id="couponCode"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12"><button class="btn btn-success btn-block btn-lg" type="submit" style="background-color: rgb(208,183,22);">Pay now</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    {% endblock contents %}

{% block js %}
{% endblock js %}
