{% extends 'website/base.html' %}

{% block title %}{{ block.super }} | Products {% endblock title %}
{% block header %}Products{% endblock header %}

{% block contents %}

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="table-responsive" style="width: 100%;margin: auto;">
                        <table class="table">
                            <thead>
                                <tr style="color: rgb(3,133,9);">
                                    <th style="width: 10%;">Select</th>
                                    <th style="width: 15%;">Quantity</th>
                                    <th style="width: 60%;">Item</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>
                                        <div class="form-check"><input class="form-check-input" type="checkbox" value="{{ product.price }}" id="{{ product.pk }}"><label class="form-check-label" for="formCheck-1"></label></div>
                                    </td>
                                    <td><i class="fas fa-minus" style="color: rgb(3,133,9);"></i><input style="width:2em" type="number" value="0" name="amount" id="amount-{{ product.pk }}"><i class="fas fa-plus" style="color: rgb(3,133,9);"></i></td>
                                    <td>{{ product.name }}</td>
                                    <td id="{{product.pk}}">${{ product.price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td class="text-right" colspan="2">Total Price</td>
                                    <td id="total-price">$</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center"><a class="btn btn-primary check-out" href="{% url 'website:check_out_page' %}" type="button" style="width: 50%;background-color: rgb(3,133,9);">Continue to Check Out</a></div>
            </div>
        </div>
    </div>


    {% endblock contents %}

{% block js %}
<script>
let selected_products = []
let total_price = 0
$('.form-check-input').on("change", function() {
    let product = $(this).attr('id');
    let price = $(this).val();
    let amount = $('input#amount-' + product).val();
    if (!this.checked) {
        let index = selected_products.indexOf(product);
        selected_products.splice(index, 1);
        total_price = total_price - price * amount
    }
    else {
        selected_products.push(product)
        total_price = total_price + price * amount
    }
    $('#total-price').html('$' + total_price.toFixed(2));
    console.log(total_price)
    console.log(selected_products)
});

$('.check-out').on("click", function() {
    
})
</script>
{% endblock js %}
